*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    padding: 5px;
}
.Recipe-item h3{
    text-align: center;
}
.Recipe-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Recipe-item-valoration{
    align-self: flex-end;
}
.Recipe-item img{
    width: 80%;
}
.Recipe-item-value{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.Recipe-item h2{
    align-self: flex-start;
}
.Recipe-item h2, .Recipe-item  p{
    margin-left: 12px;
}
.Recipe-item p{
    margin-bottom: 10px;
}

svg{
    margin-inline: 2px;
}


.Recipe-item-recipes{
    width:100vw;
    overflow: scroll;
}

.Recipe-item-comments{
    margin-inline: 5px;
  }
  .Recipe-item-comments ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .Recipe-item-comments ul li{
    border: 1px solid black;
    width: 90vw;
  }
  .Recipe-item-comments h5{
    margin-left: 15px;
  }
  .Recipe-item-value-quantity{
    display: flex;
    align-items: baseline;
  }
  .Recipe-item-preparation{
    text-align: justify;
  }
